Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

refactor: 💡 "example c" component
  src/components/interfaces/example/C/elements/label/index.tsx
  src/components/interfaces/example/C/index.ts
  src/components/interfaces/example/C/input/index.tsx
  src/components/interfaces/example/C/select/index.tsx
  src/components/interfaces/example/C/text-area/index.tsx
Due: prettier --write, eslint --fix, eslint

test: 🧪 update "example c" test code
  src/components/interfaces/example/C/ExampleC.spec.tsx
Due: prettier --write, eslint --fix, eslint

feat: 🎉 add "example c" storybook
  src/components/interfaces/example/C/stories/ExampleC.stories.tsx
  src/components/interfaces/example/C/stories/Layout.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 update tailwind config
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lockb
  package.json
Due: prettier --write

fix: 🔧 api types
  src/types/api/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 auth
  auth/index.ts
Due: prettier --write, eslint --fix, eslint

fix: 🔧 "example c" component
  src/components/interfaces/example/C/input/index.tsx
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lock
  bun.lockb
  package.json
Due: prettier --write

style: ✨ eslint
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.mjs
  src/components/interfaces/example/A/ExampleA.spec.tsx
  src/components/interfaces/example/C/ExampleC.spec.tsx
  src/components/interfaces/example/C/stories/Layout.tsx
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lock
Due: none

fix: 🔧 file extension
  src/context/index.ts
  src/hooks/cookies/index.ts
  src/libs/tailwind-merge/index.ts
  src/types/context/.gitkeep
Due: prettier --write, eslint --fix, eslint

feat: 🎉 hooks functions
  src/hooks/functions/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 api example
  src/utils/api/example/index.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lock
  package.json
Due: prettier --write

refactor: 💡 whatever that is
  README.md
  src/app/register/page.tsx
  src/hooks/functions/index.ts
  src/layouts/login/modules/main/batches/content/index.tsx
  src/layouts/login/modules/main/batches/index.ts
  src/layouts/register/index.tsx
  src/layouts/register/modules/index.ts
  src/layouts/register/modules/main/batches/content/index.tsx
  src/layouts/register/modules/main/batches/index.ts
  src/layouts/register/modules/main/index.tsx
  src/libs/constants/index.ts
  src/middleware.ts
  src/schemas/auth/index.ts
  src/schemas/example/index.ts
  src/types/api/index.ts
  src/types/example/index.ts
  src/utils/api/auth/login/index.ts
  src/utils/api/auth/register/index.ts
  src/utils/api/datas/index.ts
  src/utils/api/example/index.ts
  src/utils/api/index.ts
  src/utils/api/users/index.ts
Due: prettier --write, eslint --fix, eslint

feat: 🎉 add additional folder
  src/layouts/example/modules/aside/batches/content/.gitkeep
  src/layouts/example/modules/footer/batches/content/.gitkeep
  src/layouts/example/modules/header/batches/content/.gitkeep
  src/layouts/example/modules/main/batches/content/.gitkeep
  src/layouts/example/modules/nav/batches/content/.gitkeep
  src/layouts/example/pages/example/modules/aside/batches/content/.gitkeep
  src/layouts/example/pages/example/modules/footer/batches/content/.gitkeep
  src/layouts/example/pages/example/modules/header/batches/content/.gitkeep
  src/layouts/example/pages/example/modules/main/batches/content/.gitkeep
  src/layouts/example/pages/example/modules/nav/batches/content/.gitkeep
  src/layouts/home/modules/aside/batches/content/.gitkeep
  src/layouts/home/modules/footer/batches/content/.gitkeep
  src/layouts/home/modules/header/batches/content/.gitkeep
  src/layouts/home/modules/main/batches/content/.gitkeep
  src/layouts/home/modules/nav/batches/content/.gitkeep
Due: none

chore: ⚙️ update tailwind config
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update authentication
  auth/index.ts
Due: prettier --write, eslint --fix, eslint

docs: 📝 update
  README.md
Due: prettier --write

refactor: 💡 font
  src/app/fonts/index.ts
  src/app/layout.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 examples
  src/app/(authed)/(admin)/admin-example/page.tsx
  src/app/(authed)/(admin)/admin/page.tsx
  src/app/(authed)/(user)/user-example/page.tsx
  src/app/(authed)/(user)/user/page.tsx
  src/app/home-example/page.tsx
  src/app/page.tsx
  src/layouts/home/modules/main/index-example.tsx
  src/layouts/home/modules/main/index.tsx
  src/middleware.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 examples
  README.md
  bun.lock
  package.json
  src/layouts/example/global/.gitkeep
  src/layouts/example/pages/example/global/.gitkeep
  src/layouts/example/pages/example/template/.gitkeep
  src/layouts/example/template/.gitkeep
  src/layouts/home/global/.gitkeep
  src/layouts/home/template/.gitkeep
  src/types/api/index.ts
  src/utils/api/datas/index.ts
  src/utils/api/example/index.ts
  src/utils/api/upload/index.ts
  src/utils/api/users/index.ts
  todo.md
Due: prettier --write, eslint --fix, eslint

fix: 🔧 html semantics
  src/app/(authed)/(admin)/admin-example/page.tsx
  src/app/(authed)/(user)/user-example/page.tsx
  src/layouts/home/modules/main/index-example.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 upload api
  src/types/api/index.ts
  src/utils/api/upload/index.ts
Due: prettier --write, eslint --fix, eslint

feat: 🎉 styles folder
  src/styles/.gitkeep
Due: none

refactor: 💡 image
  configs/authentication/index.ts
  src/components/form-container/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/libs/constants/index.ts
  src/types/api/index.ts
  src/utils/api/authentication/login/index.ts
  src/utils/api/authentication/register/index.ts
Due: prettier --write, eslint --fix, eslint

style: ✨ eslint
  .prettierrc.js
  bun.lock
  eslint.config.mjs
  package.json
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/layouts/home/modules/main/index-example.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{md,mdx,json,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs}
