Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["eslint --fix", "eslint --no-warn-ignored --max-warnings 0", "prettier --write"],
  "*.{json,css}": ["prettier --write"]
}

chore: ⚙️ eslint config
  eslint.config.mjs
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

chore: ⚙️ .vscode
  .vscode/extensions.json
Due: prettier --write

refactor: 💡 types
  src/types/api/index.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

docs: 📝 readme
  README.md
Due: none

build: 📦️ update dependencies
  bun.lock
  package.json
Due: prettier --write

chore: ⚙️ disabled better-tailwindcss/enforce-consistent-class-order
  eslint.config.mjs
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

build: 📦️ update dependencies
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

build: 📦️ update dependencies
  eslint.config.mjs
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

fix: 🔧 eslint
  src/components/elements/example/A/ExampleA.spec.tsx
  src/components/elements/example/B/ExampleB.spec.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 boilerplate
  bun.lock
  configs/authentication/index.ts
  package.json
  src/helpers/api/authentication/index.ts
  src/helpers/api/authentication/login/index.ts
  src/helpers/api/authentication/register/index.ts
  src/helpers/api/base/index.ts
  src/helpers/api/data/index.ts
  src/helpers/api/example/index.ts
  src/helpers/api/index.ts
  src/helpers/api/password/index.ts
  src/helpers/api/upload/index.ts
  src/helpers/api/user/index.ts
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/example/index.tsx
  src/layouts/example/modules/aside/index.tsx
  src/layouts/example/pages/example/index.tsx
  src/layouts/example/pages/example/modules/aside/index.tsx
  src/layouts/home/index.tsx
  src/layouts/home/modules/aside/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/libs/constants/authentication/index.ts
  src/types/api/index.ts
  src/types/index.ts
  src/types/next-auth.d.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 boilerplate
  .vscode/extensions.json
  .vscode/settings.json
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 boilerplate
  eslint.config.mjs
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 boilerplate
  .env.example
  src/app/layout.tsx
  src/context/index.ts
  src/helpers/api/authentication/login/index.ts
  src/helpers/api/authentication/register/index.ts
  src/helpers/api/base/index.ts
  src/helpers/api/data/index.ts
  src/helpers/api/example/index.ts
  src/helpers/api/upload/index.ts
  src/helpers/api/user/index.ts
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

build: 📦️ update dependencies
  bun.lock
Due: none

fix: 🔧 state
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 change icon to lucide
  bun.lock
  package.json
  src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  src/app/_layout/modules/main/index-example.tsx
  src/app/authentication/login/_layout/modules/main/index.tsx
  src/app/authentication/register/_layout/modules/main/index.tsx
  src/components/elements/example/A/ExampleA.spec.tsx
  src/components/elements/example/A/ExampleA.stories.tsx
  src/components/elements/example/B/ExampleB.spec.tsx
  src/components/elements/example/B/stories/ExampleB.stories.tsx
  src/components/elements/example/C/ExampleC.spec.tsx
  src/components/elements/example/C/elements/label/index.tsx
  src/components/elements/example/C/stories/ExampleC.stories.tsx
  src/components/templates/api-connection-checker/index.tsx
  src/components/templates/avatar/index.tsx
  src/components/templates/change-theme-button/index.tsx
  src/components/templates/form-container/index.tsx
  src/components/templates/logout-button/index.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 boilerplate
  configs/authentication.ts
  src/components/elements/example/A/ExampleA.tsx
  src/components/elements/example/A/index.ts
  src/components/elements/example/B/ExampleB.tsx
  src/components/elements/example/B/index.ts
  src/components/elements/example/B/stories/ExampleB.stories.tsx
  src/components/elements/example/B/stories/StoriesLayout.tsx
  src/components/elements/example/C/ExampleDatePicker.tsx
  src/components/elements/example/C/ExampleInput.tsx
  src/components/elements/example/C/ExampleSelect.tsx
  src/components/elements/example/C/ExampleTextArea.tsx
  src/components/elements/example/C/elements/ExampleErrorMessage.tsx
  src/components/elements/example/C/elements/ExampleInputsContainer.tsx
  src/components/elements/example/C/elements/ExampleLabel.tsx
  src/components/elements/example/C/elements/index.ts
  src/components/elements/example/C/index.ts
  src/components/elements/example/C/stories/ExampleC.stories.tsx
  src/components/elements/example/C/stories/StoriesLayout.tsx
  src/components/elements/example/C/type.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

style: ✨ eslint & prettier
  .prettierrc.js
  eslint.config.mjs
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

style: ✨ eslint
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 eslint
  bun.lock
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

build: 📦️ pnpm
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  README.md
  bun.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

refactor: 💡 elysia
  configs/authentication.ts
  src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  src/app/(authed)/(user)/password/change/_layout/modules/main/schema.ts
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  src/app/(authed)/(user)/profile/_layout/modules/main/schema.ts
  src/app/authentication/login/_layout/modules/main/index.tsx
  src/app/authentication/register/_layout/modules/main/index.tsx
  src/app/authentication/register/_layout/modules/main/schema.ts
  src/components/templates/Avatar.tsx
  src/constants/authentication.ts
  src/proxy.ts
  src/types/authentication.ts
  src/types/index.ts
  src/utils/api/authentication/index.ts
  src/utils/api/authentication/login.ts
  src/utils/api/authentication/password.ts
  src/utils/api/authentication/register.ts
  src/utils/api/base.ts
  src/utils/api/data.ts
  src/utils/api/example.ts
  src/utils/api/index.ts
  src/utils/api/password.ts
  src/utils/api/upload.ts
  src/utils/api/user.ts
  src/utils/formatter.ts
  src/utils/server/getImageBase64.ts
  src/utils/server/index.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 image
  next.config.ts
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  src/components/templates/Avatar.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 boilerplate
  src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  src/app/(authed)/(user)/password/change/_layout/modules/main/schema.ts
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  src/app/(authed)/(user)/profile/_layout/modules/main/schema.ts
  src/app/authentication/login/_layout/modules/main/index.tsx
  src/app/authentication/login/_layout/modules/main/schema.ts
  src/app/authentication/register/_layout/modules/main/index.tsx
  src/app/authentication/register/_layout/modules/main/schema.ts
  src/app/layout.tsx
  src/constants/index.ts
  src/constants/schemaMessage.ts
  src/utils/api/authentication/login.ts
  src/utils/api/authentication/register.ts
  src/utils/api/base.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

fix: 🔧 elysia integration
  configs/authentication.ts
  src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  src/app/authentication/login/_layout/modules/main/index.tsx
  src/app/authentication/register/_layout/modules/main/index.tsx
  src/components/templates/LogoutButton.tsx
  src/constants/authentication.ts
  src/utils/api/authentication/index.ts
  src/utils/api/authentication/login.ts
  src/utils/api/authentication/logout.ts
  src/utils/api/authentication/register.ts
  src/utils/api/base.ts
  src/utils/api/example.ts
  src/utils/api/index.ts
  src/utils/api/users.ts
  src/utils/server/session.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

feat: 🎉 placeholder
  src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  src/app/authentication/login/_layout/modules/main/index.tsx
  src/app/authentication/register/_layout/modules/main/index.tsx
  src/components/templates/Avatar.tsx
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

refactor: 💡 variable
  src/utils/api/base.ts
Due: eslint --fix, eslint --no-warn-ignored --max-warnings 0, prettier --write

docs: 📝 boilerplate
  README.md
Due: none

build: 📦️ update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write
