Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --max-warnings 0, prettier --write

chore: ⚙️ lintstragedrc
  .lintstagedrc
Due: none

build: 📦️ update dependencies
  bun.lock
  package.json
Due: prettier --write

feat: 🎉 github actions
  .github/workflows/sync-main.yml
Due: none

refactor: 💡 eslint and storybook
  .storybook/main.ts
  .storybook/stories/Button.stories.ts
  .storybook/stories/Button.tsx
  .storybook/stories/Header.stories.ts
  .storybook/stories/Header.tsx
  .storybook/stories/Page.stories.ts
  .storybook/stories/Page.tsx
  .storybook/stories/assets/accessibility.png
  .storybook/stories/assets/accessibility.svg
  .storybook/stories/assets/addon-library.png
  .storybook/stories/assets/assets.png
  .storybook/stories/assets/avif-test-image.avif
  .storybook/stories/assets/context.png
  .storybook/stories/assets/discord.svg
  .storybook/stories/assets/docs.png
  .storybook/stories/assets/figma-plugin.png
  .storybook/stories/assets/github.svg
  .storybook/stories/assets/share.png
  .storybook/stories/assets/styling.png
  .storybook/stories/assets/testing.png
  .storybook/stories/assets/theming.png
  .storybook/stories/assets/tutorials.svg
  .storybook/stories/assets/youtube.svg
  .storybook/stories/button.css
  .storybook/stories/header.css
  .storybook/stories/page.css
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 utils api use axios
  src/utils/api/base/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 helper
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/utils/helpers/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

chore: ⚙️ allowed dev origins
  next.config.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 api checker
  src/components/templates/api-connection-checker/index.tsx
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 metadata
  public/assets/images/logos/Vercel.png
  src/app/page.tsx
Due: eslint --fix, eslint --max-warnings 0, prettier --write

chore: ⚙️ next config
  next.config.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

chore: ⚙️ eslint config
  eslint.config.mjs
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 eslint
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 change dir utils to helpers
  src/helpers/api/authentication/index.ts
  src/helpers/api/authentication/login/index.ts
  src/helpers/api/authentication/register/index.ts
  src/helpers/api/base/index.ts
  src/helpers/api/data/index.ts
  src/helpers/api/example/index.ts
  src/helpers/api/index.ts
  src/helpers/api/password/index.ts
  src/helpers/api/upload/index.ts
  src/helpers/api/user/index.ts
  src/helpers/formatter/index.ts
  src/helpers/index.ts
  src/helpers/server/cookies/index.ts
  src/helpers/server/getbase64/index.ts
  src/helpers/server/index.ts
  src/helpers/server/session/index.ts
  src/helpers/validations/index.ts
  src/utils/.gitkeep
  src/utils/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 import
  configs/authentication/index.ts
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/components/templates/change-theme-button/index.tsx
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/login/modules/main/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/index.tsx
  src/layouts/home/modules/main/index-example.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/index.tsx
Due: eslint --fix, eslint --max-warnings 0, prettier --write

feat: 🎉 math
  src/helpers/index.ts
  src/helpers/math/index.ts
  src/utils/.gitkeep
  src/utils/index.ts
  src/utils/math/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 hooks
  src/hooks/ui/index.ts
  src/hooks/ui/modal/index.ts
  src/hooks/ui/toast/index.ts
  src/hooks/ui/toggle/index.ts
  src/hooks/utils/index.ts
  src/hooks/utils/local-storage/index.ts
  src/hooks/utils/window-size/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

build: 📦️ update dependencies
  .lintstagedrc
  bun.lock
  docs/example.postman_collection.json
  package.json
Due: prettier --write

build: 📦️ typescript eslint
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, eslint --max-warnings 0, prettier --write

feat: 🎉 vscode settings
  .vscode/settings.json
Due: prettier --write

feat: 🎉 vscode extensions
  .vscode/extensions.json
Due: prettier --write

fix: 🔧 eslint
  eslint.config.mjs
  src/components/elements/example/C/input/index.tsx
  src/components/elements/example/C/select/index.tsx
  src/components/elements/example/C/text-area/index.tsx
Due: eslint --fix, eslint --max-warnings 0, prettier --write

chore: ⚙️ settings.json
  .vscode/settings.json
Due: prettier --write

refactor: 💡 helpers api base
  src/helpers/api/base/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

refactor: 💡 error message
  src/helpers/formatter/index.ts
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/types/api/index.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

build: 📦️ update nextjs 16
  bun.lock
  eslint.config.mjs
  package.json
  src/components/templates/api-connection-checker/index.tsx
  src/hooks/ui/toast/index.ts
  src/hooks/utils/local-storage/index.ts
  src/hooks/utils/window-size/index.ts
  src/proxy.ts
  tsconfig.json
Due: eslint --fix, eslint --max-warnings 0, prettier --write

build: 📦️ update tailwind css
  bun.lock
  eslint.config.mjs
  package.json
  postcss.config.mjs
  src/app/globals.css
  src/components/elements/example/C/datepicker/index.tsx
  src/components/elements/example/C/input/index.tsx
  src/components/elements/example/C/select/index.tsx
  src/components/elements/example/C/text-area/index.tsx
  src/components/templates/api-connection-checker/index.tsx
  src/components/templates/form-container/index.tsx
  tailwind.config.ts
Due: eslint --fix, eslint --max-warnings 0, prettier --write

style: ✨ eslint & prettier
  src/app/globals.css
  src/app/layout.tsx
  src/components/elements/example/A/ExampleA.spec.tsx
  src/components/elements/example/A/index.tsx
  src/components/elements/example/B/ExampleB.spec.tsx
  src/components/elements/example/C/elements/label/index.tsx
  src/components/templates/api-connection-checker/index.tsx
  src/components/templates/form-container/index.tsx
Due: eslint --fix, eslint --max-warnings 0, prettier --write

fix: 🔧 eslint
  eslint.config.mjs
Due: eslint --fix, eslint --max-warnings 0, prettier --write

chore: ⚙️ .vscode
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

build: 📦️ update storybook
  .storybook/main.ts
  .storybook/preview.ts
  bun.lock
  package.json
Due: eslint --fix, eslint --max-warnings 0, prettier --write

fix: 🔧 somethink
  bun.lock
  package.json
  src/components/elements/example/A/ExampleA.stories.tsx
  src/components/elements/example/B/stories/ExampleB.stories.tsx
  src/components/elements/example/C/stories/ExampleC.stories.tsx
Due: eslint --fix, eslint --max-warnings 0, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,css})
