Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{md,mdx,json,css}": ["prettier --write"]
}

chore: tidy up the code
  .storybook/main.ts
  .storybook/preview.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

fix: import path
  src/app/page.tsx
  src/components/interfaces/example/A/index.tsx
  src/components/interfaces/example/B/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: update dependencies
  bun.lockb
  package-lock.json
  package.json
Due: prettier --write

feat: add example auth.js/nextauth.js v5
  .env.example
  auth.ts
  bun.lockb
  jest.config.ts
  package.json
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/denied/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/layouts/example/index.tsx
  src/layouts/example/modules/aside/index.tsx
  src/layouts/example/modules/footer/index.tsx
  src/layouts/example/modules/header/index.tsx
  src/layouts/example/modules/main/index.tsx
  src/layouts/example/modules/nav/index.tsx
  src/layouts/home/index.tsx
  src/layouts/home/modules/aside/index.tsx
  src/layouts/home/modules/footer/index.tsx
  src/layouts/home/modules/header/index.tsx
  src/layouts/home/modules/main/index.tsx
  src/layouts/home/modules/nav/index.tsx
  src/middleware.ts
  src/utils/api/auth/index.ts
  src/utils/api/example/index.ts
  src/utils/api/index.ts
  src/utils/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

fix: auth.js/nextauth.js v5 --> nextauth.js v4
  .env.example
  .husky/commit-msg
  .husky/pre-commit
  auth.ts
  bun.lockb
  jest.config.ts
  next-auth.d.ts
  package.json
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
  src/app/api/auth/[...nextauth]/options.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/login/page.tsx
  src/layouts/login/index.tsx
  src/layouts/login/modules/aside/batches/index.ts
  src/layouts/login/modules/aside/index.tsx
  src/layouts/login/modules/footer/batches/index.ts
  src/layouts/login/modules/footer/index.tsx
  src/layouts/login/modules/header/batches/index.ts
  src/layouts/login/modules/header/index.tsx
  src/layouts/login/modules/index.ts
  src/layouts/login/modules/main/batches/index.ts
  src/layouts/login/modules/main/index.tsx
  src/layouts/login/modules/nav/batches/index.ts
  src/layouts/login/modules/nav/index.tsx
  src/middleware.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

refactor: authentication
  auth/index.ts
  jest.config.ts
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/denied/page.tsx
  src/layouts/home/modules/main/index.tsx
  src/layouts/login/modules/main/index.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

refactor: create a component for the logout button
  bun.lockb
  src/components/interfaces/buttons/logout/index.tsx
  src/layouts/home/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: move file next-auth.d.ts to src/types
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

feat: session max age
  auth/index.ts
Due: prettier --write, eslint --fix, eslint

feat: husky pre push
  .husky/pre-commit
  .husky/pre-push
Due: none

refactor: import path
  jest.config.ts
  src/components/logout/index.tsx
  src/layouts/home/modules/main/index.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

build: 📦️ use cz-git for commit lint
  .commitlintrc
  .commitlintrc.js
  bun.lockb
  package.json
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update commit lint type description
  .commitlintrc.js
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ add commit lint rules
  .commitlintrc.js
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update package.json
  bun.lockb
  package.json
Due: prettier --write

chore: ⚙️ update overrides eslintrc
  .eslintrc.json
Due: prettier --write

refactor: 💡 add other provider
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

build: 📦️ add react-hotkeys-hook
  bun.lockb
  package.json
Due: prettier --write

chore: ⚙️ update commit lint scope or issue description
  .commitlintrc.js
Due: prettier --write, eslint --fix, eslint

refactor: 💡 minor structural changes
  .storybook/preview.ts
  auth/index.ts
  src/app/layout.tsx
  src/components/interfaces/example/A/index.tsx
  src/components/interfaces/example/B/index.tsx
  src/libs/constants/index.ts
  src/libs/index.ts
  src/libs/tailwind-merge/index.tsx
  src/types/next-auth.d.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix, eslint

feat: 🎉 not found page
  src/app/not-found.tsx
Due: prettier --write, eslint --fix, eslint

fix: 🔧 contains conflicting star exports
  auth/index.ts
  src/types/api/index.ts
  src/types/next-auth.d.ts
  src/utils/api/auth/index.ts
  src/utils/api/example/index.ts
  src/utils/api/index.ts
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update .gitignore
  .gitignore
Due: none

feat: 🎉 example schemas
  src/schemas/example/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 logout button
  bun.lockb
  src/components/logout/index.tsx
  src/layouts/home/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ add storybook build to pre-push
  .husky/pre-push
Due: none

refactor: 💡 tidy up code
  src/types/api/index.ts
  src/utils/api/index.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lockb
  package.json
Due: prettier --write

refactor: 💡 export default --> export
  src/components/logout/index.tsx
  src/layouts/home/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: 🎉 readme.md
  src/components/README.md
  src/utils/api/README.md
  src/utils/api/index.ts
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update .lintstagedrc
  .lintstagedrc
Due: none

refactor: 💡 update components readme.md
  src/components/README.md
Due: prettier --write

style: ✨ arrow body style
  .eslintrc.json
  .storybook/preview.ts
  auth/index.ts
  src/app/denied/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/interfaces/example/A/index.tsx
  src/components/interfaces/example/A/stories/Layout.tsx
  src/components/interfaces/example/B/index.tsx
  src/components/interfaces/example/B/stories/Layout.tsx
  src/components/logout/index.tsx
  src/layouts/example/index.tsx
  src/layouts/example/modules/aside/index.tsx
  src/layouts/example/modules/footer/index.tsx
  src/layouts/example/modules/header/index.tsx
  src/layouts/example/modules/main/index.tsx
  src/layouts/example/modules/nav/index.tsx
  src/layouts/home/index.tsx
  src/layouts/home/modules/aside/index.tsx
  src/layouts/home/modules/footer/index.tsx
  src/layouts/home/modules/header/index.tsx
  src/layouts/home/modules/nav/index.tsx
  src/layouts/login/index.tsx
  src/layouts/login/modules/aside/index.tsx
  src/layouts/login/modules/footer/index.tsx
  src/layouts/login/modules/header/index.tsx
  src/layouts/login/modules/nav/index.tsx
  src/libs/providers/next-auth/index.tsx
  src/libs/providers/next-themes/index.tsx
Due: prettier --write, eslint --fix, eslint

style: ✨ typescript eslint
  .eslintrc.json
  auth/index.ts
  bun.lockb
  package.json
  src/components/interfaces/example/A/ExampleA.spec.tsx
  src/components/interfaces/example/B/stories/Layout.tsx
  src/hooks/global/index.tsx
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ react eslint
  .eslintrc.json
  bun.lockb
  package.json
Due: prettier --write

refactor: 💡 login
  bun.lockb
  src/layouts/login/modules/main/index.tsx
  src/schemas/example/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 perfectionist sort-union-types
  src/components/interfaces/example/A/ExampleA.spec.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 middleware
  src/middleware.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 admin and user page
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: 🎉 license
  LICENSE
Due: none
