Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{md,mdx,json,css}": ["prettier --write"]
}

chore: ⚙️ next config
  next.config.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 something new
  bun.lock
  package.json
  src/hooks/functions/index.ts
  src/hooks/getbase64/index.ts
  src/hooks/index.ts
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/styles/datepicker.css
  src/types/api/index.ts
  src/utils/api/base/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 api
  src/utils/api/base/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 fonts
  bun.lock
  package.json
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 api
  src/utils/api/authentication/login/index.ts
  src/utils/api/authentication/register/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 storybook
  src/components/elements/example/A/ExampleA.stories.tsx
  src/components/elements/example/B/stories/ExampleB.stories.tsx
  src/components/elements/example/C/stories/ExampleC.stories.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 components
  src/components/elements/example/C/elements/label/index.tsx
  src/components/elements/example/C/stories/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ animation
  public/assets/animations/loadings/Loading-B.svg
  public/assets/animations/loadings/Loading-W.svg
  src/components/templates/submit-button/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 types
  src/types/api/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 env
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/utils/api/authentication/login/index.ts
  src/utils/api/authentication/register/index.ts
Due: prettier --write, eslint --fix, eslint

docs: 📝 readme
  README.md
  public/assets/images/project/1.png
  public/assets/images/project/2.png
  public/assets/images/project/3.png
  public/assets/images/project/4.png
  public/assets/images/project/5.png
  public/assets/images/project/6.png
Due: prettier --write

refactor: 💡 zod
  bun.lock
  package.json
  src/app/fonts/Inter.ttf
  src/app/fonts/Roboto.ttf
  src/app/fonts/index.ts
  src/app/layout.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/schemas/authentication/index.ts
  src/schemas/example/index.ts
  src/schemas/profile/index.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 change folder dir
  configs/authentication/index.ts
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/components/templates/change-theme-button/index.tsx
  src/hooks/.gitkeep
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/login/modules/main/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/index.tsx
  src/layouts/home/modules/main/index-example.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/index.tsx
  src/utils/api/base/index.ts
  src/utils/helpers/index.ts
  src/utils/index.ts
  src/utils/server/cookies/index.ts
  src/utils/server/getbase64/index.ts
  src/utils/server/index.ts
  src/utils/server/session/index.ts
Due: prettier --write, eslint --fix, eslint

feat: 🎉 hooks
  src/context/index.ts
  src/hooks/.gitkeep
  src/hooks/index.ts
  src/hooks/ui/index.ts
  src/hooks/ui/useModal.ts
  src/hooks/ui/useToast.ts
  src/hooks/ui/useToggle.ts
  src/hooks/utils/index.ts
  src/hooks/utils/useLocalStorage.ts
  src/hooks/utils/useWindowSize.ts
  src/libs/constants/hooks/index.ts
  src/libs/constants/index.ts
  src/types/context/.gitkeep
  src/types/context/index.ts
  src/types/hooks/index.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

docs: 📝 readme
  README.md
Due: prettier --write

refactor: 💡 theme
  .env.example
  public/assets/images/project/1.png
  public/assets/images/project/2.png
  public/assets/images/project/3.png
  public/assets/images/project/4.png
  public/assets/images/project/5.png
  public/assets/images/project/6.png
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/app/denied/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/elements/example/A/ExampleA.spec.tsx
  src/components/elements/example/A/ExampleA.stories.tsx
  src/components/elements/example/A/index.tsx
  src/components/elements/example/C/ExampleC.spec.tsx
  src/components/elements/example/C/elements/label/index.tsx
  src/components/elements/example/C/input/index.tsx
  src/components/elements/example/C/stories/ExampleC.stories.tsx
  src/components/templates/api-connection-checker/index.tsx
  src/components/templates/form-container/index.tsx
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/home/modules/main/index-example.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/libs/constants/components/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 theme
  public/assets/images/project/1.png
  public/assets/images/project/2.png
  public/assets/images/project/3.png
  public/assets/images/project/4.png
  public/assets/images/project/5.png
  public/assets/images/project/6.png
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/components/elements/example/A/index.tsx
  src/components/templates/api-connection-checker/index.tsx
  src/components/templates/avatar/index.tsx
  src/components/templates/form-container/index.tsx
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/home/modules/main/index-example.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/libs/constants/components/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 navigator
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 auth
  public/assets/images/project/2.png
  public/assets/images/project/3.png
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 import
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 form container
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/components/templates/form-container/index.tsx
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/home/modules/main/index-example.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 base api
  src/utils/api/base/index.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lock
  package.json
Due: prettier --write

refactor: 💡 api checker
  src/components/templates/api-connection-checker/index.tsx
Due: prettier --write, eslint --fix, eslint

fix: 🔧 api checker
  src/components/templates/api-connection-checker/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 api checker
  bun.lock
  src/app/layout.tsx
  src/components/templates/api-connection-checker/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 example
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 overflow
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ eslint config
  eslint.config.mjs
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ gitignore
  .gitignore
Due: none

refactor: 💡 eslint
  package.json
Due: prettier --write

chore: ⚙️ checking
  .husky/pre-push
  .lintstagedrc
  package.json
Due: prettier --write

chore: ⚙️ prettier ignore
  .prettierignore
Due: none

refactor: 💡 api
  src/utils/api/authentication/login/index.ts
  src/utils/api/base/index.ts
  src/utils/api/data/index.ts
  src/utils/api/example/index.ts
  src/utils/api/user/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 api
  src/utils/api/authentication/login/index.ts
  src/utils/api/base/index.ts
  src/utils/api/data/index.ts
  src/utils/api/example/index.ts
  src/utils/api/upload/index.ts
  src/utils/api/user/index.ts
Due: prettier --write, eslint --fix, eslint
