Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

refactor: 💡 login
  src/layouts/login/modules/main/index.tsx
  src/schemas/auth/index.ts
  src/schemas/example/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 app
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
  src/app/denied/page.tsx
  src/app/not-found.tsx
Due: prettier --write, eslint --fix, eslint

feat: 🎉 cookies hook
  src/hooks/cookies/index.tsx
Due: prettier --write, eslint --fix, eslint

docs: 📝 update env example
  .env.example
Due: none

fix: 🔧 app
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
  src/app/denied/page.tsx
  src/app/not-found.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 auth
  auth/index.ts
  src/hooks/session/index.ts
  src/layouts/home/modules/main/index.tsx
  src/types/api/index.ts
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 move zustand file to context folder
  src/context/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 session
  src/app/(authed)/admin/page.tsx
  src/app/(authed)/user/page.tsx
  src/hooks/session/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 update auth
  auth/index.ts
  src/layouts/home/modules/main/index.tsx
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

docs: 📝 update boilerplate readme.md
  README.md
Due: prettier --write

chore: ⚙️ remove comment
  .commitlintrc.cjs
  jest.config.ts
Due: prettier --write, eslint --fix, eslint

feat: 🎉 inputs example
  src/components/interfaces/example/C/elements/error-message/index.tsx
  src/components/interfaces/example/C/elements/index.ts
  src/components/interfaces/example/C/elements/inputs-container/index.tsx
  src/components/interfaces/example/C/elements/label/index.tsx
  src/components/interfaces/example/C/index.ts
  src/components/interfaces/example/C/input/index.tsx
  src/components/interfaces/example/C/select/index.tsx
  src/components/interfaces/example/C/text-area/index.tsx
  src/layouts/login/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

fix: 🔧 everything is wrong
  .commitlintrc.cjs
  .env.example
  .eslintrc.json
  bun.lockb
  jest.config.ts
  package.json
  src/app/(authed)/(admin)/admin/page.tsx
  src/app/(authed)/(user)/user/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/components/interfaces/example/C/elements/inputs-container/index.tsx
  src/hooks/session/index.ts
  src/layouts/example/pages/example/index.tsx
  src/layouts/example/pages/example/modules/aside/batches/index.ts
  src/layouts/example/pages/example/modules/aside/index.tsx
  src/layouts/example/pages/example/modules/footer/batches/index.ts
  src/layouts/example/pages/example/modules/footer/index.tsx
  src/layouts/example/pages/example/modules/header/batches/index.ts
  src/layouts/example/pages/example/modules/header/index.tsx
  src/layouts/example/pages/example/modules/index.ts
  src/layouts/example/pages/example/modules/main/batches/index.ts
  src/layouts/example/pages/example/modules/main/index.tsx
  src/layouts/example/pages/example/modules/nav/batches/index.ts
  src/layouts/example/pages/example/modules/nav/index.tsx
  src/layouts/login/index.tsx
  src/layouts/login/modules/index.ts
  src/libs/providers/react-query/index.tsx
  src/middleware.ts
  src/utils/api/README.md
  src/utils/api/auth/index.ts
  src/utils/api/example/index.ts
  src/utils/api/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

refactor: 💡 auth
  .env.example
  auth/index.ts
  bun.lockb
  package.json
  src/layouts/login/modules/main/index.tsx
  src/schemas/auth/index.ts
  src/types/api/index.ts
  src/types/next-auth.d.ts
  src/utils/api/auth/index.ts
  src/utils/api/auth/login/index.ts
  src/utils/api/auth/register/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 login
  src/layouts/login/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 utils api
  src/utils/api/auth/login/index.ts
  src/utils/api/auth/register/index.ts
  src/utils/api/example/index.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lockb
  package.json
Due: prettier --write

refactor: 💡 auth and login
  auth/index.ts
  src/layouts/login/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update env example
  .env.example
Due: none

refactor: 💡 env variable
  .env.example
  src/utils/api/auth/login/index.ts
  src/utils/api/auth/register/index.ts
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ add new script
  package.json
Due: prettier --write

docs: 📝 update docs
  README.md
Due: prettier --write

fix: 🔧 reset form when changing login method
  src/layouts/login/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

fix: 🔧 visibility false when changing login method
  src/layouts/login/modules/main/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 hooks
  src/hooks/cookies/index.tsx
  src/hooks/session/index.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update bun.lockb
  bun.lockb
Due: none

chore: ⚙️ update .gitignore
  .gitignore
Due: none

build: 📦️ update to nextjs 15
  .eslintrc.json
  .gitignore
  bun.lockb
  next.config.mjs
  next.config.ts
  package.json
  src/app/fonts/GeistMonoVF.woff
  src/app/fonts/GeistVF.woff
  src/app/layout.tsx
  src/hooks/cookies/index.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update eslint config
  .eslintrc.json
  eslint.config.mjs
Due: prettier --write, eslint --fix, eslint

style: ✨ eslint update formatting
  src/app/(authed)/(admin)/admin/page.tsx
  src/app/(authed)/(user)/user/page.tsx
  src/app/denied/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/logout/index.tsx
  src/layouts/home/modules/main/index.tsx
  src/layouts/login/modules/main/index.tsx
  src/libs/providers/next-auth/index.tsx
  src/libs/providers/next-themes/index.tsx
  src/libs/providers/react-query/index.tsx
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

test: 🧪 optimizing "example a" test code
  src/components/interfaces/example/A/ExampleA.spec.tsx
Due: prettier --write, eslint --fix, eslint

test: 🧪 add "example c" test code
  src/components/interfaces/example/C/ExampleC.spec.tsx
  src/components/interfaces/example/C/elements/error-message/index.tsx
  src/components/interfaces/example/C/elements/label/index.tsx
  src/components/interfaces/example/C/input/index.tsx
  src/components/interfaces/example/C/select/index.tsx
  src/components/interfaces/example/C/text-area/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ update tailwind config
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{md,mdx,json,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs}
