Repository gdwmw/Next.js-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: 🎉 avatar
  src/components/templates/avatar/index.tsx
  src/components/templates/index.ts
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 api connection checker
  src/components/templates/api-connection-checker/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 avatar
  src/components/templates/avatar/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/libs/constants/components/index.ts
  src/types/components/index.ts
Due: prettier --write, eslint --fix, eslint

build: 📦️ update dependencies
  bun.lock
  package.json
Due: prettier --write

refactor: 💡 profile
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ eslint
  eslint.config.mjs
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ assets
  public/assets/animations/Loading-B.svg
  public/assets/animations/Loading-W.svg
  public/assets/animations/Loading.svg
Due: none

refactor: 💡 good thinks
  src/components/templates/submit-button/index.tsx
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
  src/types/api/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 error message
  src/hooks/functions/index.ts
  src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/schemas/password/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 utils base api
  src/utils/api/base/index.ts
  src/utils/api/password/index.ts
Due: prettier --write, eslint --fix, eslint

docs: 📝 update
  README.md
  docs/Example.drawio
Due: prettier --write

docs: 📝 update
  docs/example.drawio
  docs/example.postman_collection.json
Due: prettier --write

refactor: 💡 good thinks
  eslint.config.mjs
  src/components/elements/example/A/ExampleA.spec.tsx
  src/components/elements/example/A/ExampleA.stories.tsx
  src/components/elements/example/B/ExampleB.spec.tsx
  src/components/elements/example/B/stories/ExampleB.stories.tsx
  src/components/elements/example/C/select/index.tsx
  src/components/elements/example/C/stories/ExampleC.stories.tsx
  src/libs/constants/authentication/index.ts
  src/schemas/schema-error-message/index.ts
  src/types/api/index.ts
  src/types/authentication/index.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 schemas
  src/schemas/authentication/index.ts
  src/schemas/example/index.ts
  src/schemas/password/index.ts
  src/schemas/profile/index.ts
Due: prettier --write, eslint --fix, eslint

feat: 🎉 datepicker
  bun.lock
  package.json
  src/components/elements/example/C/datepicker/index.tsx
  src/components/elements/example/C/index.ts
  src/components/elements/example/C/stories/ExampleC.stories.tsx
  src/components/elements/example/C/stories/index.tsx
  src/styles/.gitkeep
  src/styles/datepicker.css
Due: prettier --write, eslint --fix, eslint

refactor: 💡 components
  src/components/elements/example/C/datepicker/index.tsx
  src/components/elements/example/C/input/index.tsx
  src/components/elements/example/C/select/index.tsx
Due: prettier --write, eslint --fix, eslint

build: 📦️ update storybook
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/stories/Button.stories.ts
  .storybook/stories/Button.tsx
  .storybook/stories/Configure.mdx
  .storybook/stories/Header.stories.ts
  .storybook/stories/Header.tsx
  .storybook/stories/Page.stories.ts
  .storybook/vitest.setup.ts
  bun.lock
  package.json
  src/components/elements/example/A/ExampleA.stories.tsx
  src/components/elements/example/B/stories/ExampleB.stories.tsx
  src/components/elements/example/C/stories/ExampleC.stories.tsx
  src/styles/datepicker.css
  vitest.config.ts
Due: prettier --write, eslint --fix, eslint

chore: ⚙️ git ignore
  .gitignore
Due: none

fix: 🔧 example c storybook
  src/components/elements/example/C/datepicker/index.tsx
  src/components/elements/example/C/input/index.tsx
  src/components/elements/example/C/select/index.tsx
  src/components/elements/example/C/stories/index.tsx
  src/components/elements/example/C/text-area/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 example home
  src/app/(example)/admin-example/page.tsx
  src/app/(example)/user-example/page.tsx
  src/components/templates/logout-button/index.tsx
  src/layouts/home/modules/main/index-example.tsx
Due: prettier --write, eslint --fix, eslint

fix: 🔧 storybook
  .storybook/main.ts
Due: prettier --write, eslint --fix, eslint

refactor: 💡 key and id
  src/components/templates/api-connection-checker/index.tsx
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  src/layouts/profile/modules/main/batches/content/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: 💡 select
  src/components/elements/example/C/select/index.tsx
Due: prettier --write, eslint --fix, eslint

fix: 🔧 bug
  src/app/layout.tsx
  src/components/elements/example/C/select/index.tsx
  src/schemas/example/index.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{md,mdx,json,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs}
